.footer {
    height: 8vh;
    margin-top: 2rem;
    background-color: rgba(45, 158, 45, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}