.navbar_mobile {
  display: none;
}

@media (max-width: 768px) {
  .navbar_mobile {
    display: block;
    position: absolute;
    left: -80%;
    height: 100%;
    width: 80%;
    z-index: 100;
    transition: left .5s ease-in-out;
    .navbar_mobile_menu {
      position: fixed;
      background-color: #fff;
      height: 100%;
      width: 80%;
      h5 {
        padding: 25px;
      }
      ul {
        margin: 0;
        padding: 0;
        text-align: right;
      }
      .category_mobile {
        display: flex;
        border: none;
        cursor: pointer;
        width: 100%;
        line-height: 30px;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px 15px 15px;
        border-bottom: 1px solid rgba(172, 170, 170, 0.5);
        img {
          width: 35px;
          height: 35px;
        }
        .category_name {
          color: #000;
          text-decoration: none;
          font-size: 1.2rem;
        }
      }
      div {
        a {
          padding: 15px 25px 15px 15px;
          line-height: 3;
          display: block;
          height: 83px;
          border-bottom: 1px solid rgba(172, 170, 170, 0.5);
          &:last-child {
            border: none;
          }
        }
      }
    }
    .navbar_mobile_icon {
      position: fixed;
      top: 0;
      left: 0;
      width: 65px;
      height: 75px;
      padding: 16px 12px;
      background-color: rgba(45, 158, 45, 0.8);
      clip-path: polygon(0 0, 83% 13%, 83% 87%, 0 100%, 0 51%);
      transition: left .5s ease-in-out;
      svg {
        width: 55px;
        height: 55px;
      }
    }
    &.opened {
      left: 0;
      .navbar_mobile_icon {
        left: 80%;
      }
    }
    .pages_links {
      a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #000;
      }
    }
  }
}

@media (max-width: 500px) {
  .navbar_mobile .navbar_mobile_icon {
    top: 63px;
    width: 60px;
    height: 68px;
    padding: 15px 10px;
  }
  .search_form {
    padding: 10px 16px;
  }
  .search_button {
    width: 45px;
    border-color: #2a9f2a;
    background-color: #fff;
  }
  .search_icon {
    width: 20px;
    height: 25px;
  }
}