.page_title {
  text-align: center;
}

.order_block {
  background: #fff;
  border-radius: 15px;
  margin-top: 30px;
  padding: 30px;
}

.order__table {
  position: relative;
  .order__tableCell {
    vertical-align: middle;
  }
}

.thead__dark {
  background-color: black;
  color: #fff;
}

.product__image {
  cursor: pointer;
  width: 100px;
}

.order_mobile {
  display: none;
}

@media (max-width: 768px) {
  .order__table {
    display: none;
  }

  .order_mobile {
    display: block;
  }

  .order_mobile_item_link {
    a {
      text-decoration: none;
      color: #000;
    }
  }

  .order_mobile_item {
    display: block;
    text-align: center;
    padding: 10px 5px;
    border-bottom: 1px solid #dee2e6;
    h5 {
      margin-bottom: 30px;
    }
  }
  .order_mobile_item_details {
    margin: 0;
    justify-content: space-between;
    align-items: center;
    .col-xs-6 {
      &:nth-child(2) {
        text-align: right;
        h5 {
          font-size: 30px;
        }
      }
    }
  }
  .order_mobile_item_image {
    width: 100px;
  }
}